* {
    box-sizing: border-box;
}

.board {
    display: inline-block;
    border: 4px solid forestgreen;
    background: limegreen;
    box-sizing: content-box;
}

.row {
    display: table-row;
}

.cell {
    width: 50px;
    height: 50px;
    display: table-cell;
}

.row:nth-child(odd) .cell:nth-child(odd),
.row:nth-child(even) .cell:nth-child(even) {
    background: green;
}

.board .row .cell.snake {
    --snake-color: lightblue;
    background: var(--snake-color);
}

.board .row .cell.snake-tail {
    border-radius: 50% 0 0 50%;
}

.board .row .cell.snake-head {
    border-radius: 0 40% 40% 0;
    position: relative;
}

.board .row .cell.snake-head::before {
    content: '       •';
    white-space: pre;
    position: absolute;
    top: 30px;
    left: 0;
    width: 25px;
    height: 25px;
    background: white;
    border: 6px solid lightblue;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: inset -6px -1px 2px 0 black;
    line-height: 0;
}

.board .row .cell.snake-head::after {
    content: '       •';
    white-space: pre;
    position: absolute;
    top: -5px;
    left: 0;
    width: 25px;
    height: 25px;
    background: white;
    border: 6px solid lightblue;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: inset -6px -1px 2px 0 black;
    line-height: 27px;
}