.board {
    width: 500px;
    height: 500px;
    background: limegreen;
}
.cell {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
}

.cell:not(:first-child) {
    border-left: none;
    margin-left: -4px;
}

.row:not(:last-child) .cell {
    border-bottom: none;
}

.row:not(:first-child) {
    margin-top: -4px;
}