.board {
    background-image: linear-gradient(45deg, #4CAF50 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #4CAF50 75%),
    linear-gradient(45deg, transparent 75%, #4CAF50 75%),
    linear-gradient(45deg, #4CAF50 25%, #8BC34A 25%);
    background-size: 100px 100px;
    background-position: 0 0, 0 0, -50px -50px, 50px 50px;
    border: 20px solid limegreen;
    width: 500px;
    height: 500px;
}